<div class="container py-5">
  <h3>Companies</h3>
  <%= link_to "+ Create a Company", new_company_path %><br>
  <% if @companies.empty? %>
  <p>No Companies Found</p>
  <% else %>
    <div class="list-group my-3">
      <% @companies.each do |company| %>
        <a href="<%= company_path(company) %>" class="list-group-item list-group-item-action">
          <%= company.name %>
        </a>
        <%= button_to "Delete", company_path(company),method: :delete, data: {confirm: "Are you sure?"}, class: "del-btn"%>
        <% end %>
    </div> 
  <% end %>
</div>


<style type="text/css">
  .del-btn {
    float: right;
    margin-right: -73px;
    margin-top: -41px;
    background-color: white;
    border-color: white;
    color: #007bff;
  }
</style>